@inject IStringLocalizer<Shared> L

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@L["DotNetBlog"]</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="content/topics" Match="NavLinkMatch.All">
                <span class="oi oi-justify-left" aria-hidden="true"></span> @L["Content"]
            </NavLink>
            <ul>
                <li>
                    <NavLink class="nav-link" href="content/topics" Match="NavLinkMatch.All">
                        @L["Topics"]
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="content/comments" Match="NavLinkMatch.All">
                        @L["Comments"]
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="content/pages" Match="NavLinkMatch.All">
                        @L["Pages"]
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="content/categories" Match="NavLinkMatch.All">
                        @L["Managment categories"]
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="content/tags" Match="NavLinkMatch.All">
                        @L["Tag"]
                    </NavLink>
                </li>
            </ul>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
